@font-face {
	font-family: 'Font'; 
	src: url(fonts/SFPRODISPLAYMEDIUM.OTF); 
}
@font-face {
	font-family: 'InterRegular';
	src: url(Inter/Inter-Regular.otf);
}
@font-face {
	font-family: 'InterSemiBold';
	src: url(Inter/Inter-SemiBold.otf);
}
html {
	background: #333333;
	max-width: 768px;
	min-width: 320px;
}
body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #fff;
	background: #333333;
	max-width: 768px;
	min-width: 320px;
	font-family: Inter;
	overflow-y: scroll;
}

.container {
	max-width: 768px;
	min-width: 320;
	padding: 20px 20px 20px 20px;
	position: relative;
	margin-top: 45px;

	background: #333333;
}

.container::-webkit-scrollbar {
  width: 0;
}

.inner {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: 30px 200px 30px 200px 30px 200px 200px 30px 200px 200px 50px;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
}

.img {
	width: 100%;
	height: 130px;
	border-radius: 8px 8px 0px 0px;
}

.item {
	text-align: center;
	width: 100%;
	background: rgb(65, 70, 73);
	border-radius: 8px 8px 8px 8px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	width: 90%;
	border: none;
	background: rgb(20, 171, 255);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: InterRegular;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}
.description {
	display: block;
	margin-top: 2.5px;
	margin-bottom: 5px;
	font-family: Font;
	font-size: 12.5px;
	color: #fff;
}
.title {
	color: #fff;
	font-family: Font;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding-left: 20px;
	overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background: #333333;
	z-index: 999;
}

.navbarContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.navbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.coffeeMini {
	width: 15px;
	height: 15px;
	display: inline-flex;
}
.freshesMini {
	width: 15px;
	height: 15px;
	display: inline-flex;
	margin-right: 2px;
}

.navbarContainer {
	position: relative;
	width: 100%;
	height: 28px;
	overflow-x: scroll;
}

.navbarContainer.left {
	scroll-behavior: smooth;
}
.navbarContainer.right {
	scroll-behavior: smooth;
}


.navbarButton {
	transition: background .2s linear;
	background: #333333;
	height: 28px;
}

.navbarButton:hover {
	background: #30A3E6;
}

.navbarButtonFirst {
	position: absolute;
	width: 92px;
	left: 0px;
	top: 0px;
	text-align: center;

	background: #333333;
	border-radius: 15px;
}

.navbarButtonSecond {
	position: absolute;
	width: 92px;
	left: 102px;
	top: 0px;
	text-align: center;
	background: #3333;
	border-radius: 15px;
}

.navbarButtonThird {
	position: absolute;
	width: 169px;
	left: 204px;
	top: 0px;
	text-align: center;

	background: #333333;
	border-radius: 15px;
}

.navbarButtonFourth {
	position: absolute;
	width: 92px;
	left: 383px;
	top: 0px;
	text-align: center;

	background: #333333;
	border-radius: 15px;
}

.link {
	color: #fff;
	text-decoration: none;
	font-family: Font;
	font-size: 15px;
	vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.quantityBlock {
  margin: auto;
  width: 90%;
  display: none;
  justify-content: space-between;
  transition: all 5s ease;
}
.quantityArrowMinus,
.quantityArrowPlus {
  font-size: 20px;
  width: 20%;
  border-radius: 8px;
  border: none;
  background: #30A3E6;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.quantityArrowMinus {
	/*margin-right: 10px;*/
}

.quantityArrowPlus {
	/*margin-left: 10px;*/
}

.quantityNum {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 7px;
  outline: none;
  width: 30%;
  text-align: center;
  color: #fff;
  background: #000;
  border: none;
}
.container-order {
	max-width: 590px;
	padding: 20px 20px 20px 20px;
	position: relative;
	width: 393px;
	height: 852px;
	margin-top: 45px;
	text-align: center;

	background: #333333;
}
.container-order::-webkit-scrollbar {
  width: 0;
}
.inner-order {
	display: grid;
	grid-template-columns: 95%;
	grid-row-gap: 20px;
	overflow-y: scroll;
	padding: 20px 20px 20px 20px;
}
.comment {
	display: inline-block;
	width: 80%;
	height: 20%;
	border: none;
	resize: none;
	font-size: 14px;
	background: #000;
	color: #fff;
	border-radius: 8px;
	padding-left: 20px;
	margin-left: 20px;
}
.comment:focus {
	outline-style: solid;
	outline-color: #fff;
}
.header {
	display: block;
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: left;
	color: #fff;
	margin-left: 20px;
}
.image {
	display: inline-block;
	text-align: left;
	height: 65px;
	border-radius: 8px 8px 8px 8px;
	left: 0;
	top: 0;
}
.item-description {
	display: inline-block;
	margin-bottom:auto;
	padding-left: 20px;
	color: #fff;
	font-family: InterSemiBold;
}
.elem {
	text-align: left;
	border: 1px solid;
	border-radius: 8px;
	border-color: #30A3E6;
}
@media only screen and (max-width : 385px) {
	body {
		font-size: 15px;
	}
}
@media only screen and (max-width : 330px) {
	body {
		font-size: 13px;
	}
}
